Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
pandas==2.1.4
psycopg2-binary==2.9.9
reportlab==4.0.4
Werkzeug==3.0.1
WTForms==3.0.1
sqlalchemy>=2.0.16
validators==0.20.0
gunicorn==20.1.0
openpyxl==3.1.2
pymongo==4.10.1  # replace with your desired version
